/* 顶部栏 start */
/* 定义盒子 */
.header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}
/*面试常见的CSS问题：
1.内容居中问题：一个大盒子里有一个小盒子，如何让小盒子在大盒子里垂直水平居中？
1.flex模型*/
.header img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 顶部栏 end */
/* 黑色导航 start*/
.flex1 {
  display: flex;
  width: 100%;
  height: 80px;
  justify-self: center;
  background-color: aquamarine;
}
