body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
p {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
body {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, sans-serif;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
